<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Modelo Lista Prueba</p>
    <p>Listado los elementos de la base de datos</p>

    <!-- Esta parte de aqui muestra lo que es el objeto -->
    {{ lista }}

    <ul>
        {% for elemento in lista %}
        <li>
            {{ elemento.titulo }}
            {{ elemento.subtitulo }}
        </li>
        {% endfor %}

        
    </ul>
</body>
</html>